# <font color='navy'>INTRODUCCION ALGOTRADING CON PYTHON</font>
<font color='navygray'>Por Carlos Crespo Elizondo</font><br>
<font color='navygray'>Enero 25, 2021</font>

# <font color='navygray'>Agenda</font>

1. Print
1. Variables
1. Función Type
1. Concatenar
1. Comentarios
1. Números
1. Operaciones matemáticas
1. Operaciones lógicas
1. Primer código
1. Listas
1. Range
1. For Loop
1. If's
1. Diccionarios
1. Input 
1. While Loop

# <font color='navygray'>HELLO WORLD!  Función print( )</font>

In [1]:
print('Hello World!!!!')

Hello World!!!!

##  <font color='gray'>Declarar texto en Python</font>

2.54cm son 1"
Vamos a Carl's Jr.!

In [2]:
print('2.54cm son 1"')

2.54cm son 1"

In [3]:
print("Vamos a Carl's Jr")

Vamos a Carl's Jr

## <font color='gray'>Funcionalidades de print( )</font>

* .lower( ), para poner todo el texto en minúsculas
* .upper( ), para poner todo el texto en mayúsculas
* .title( ), para poner la primer letra de cada palabra del texto en mayúsculas

In [4]:
print('La oración inicial')

La oración inicial

In [5]:
print('La oración inicial'.title())

La Oración Inicial

In [6]:
print('La oración inicial'.upper())

LA ORACIÓN INICIAL

In [7]:
print('La oración inicial'.lower())

la oración inicial

## <font color='gray'>Literales de texto</font>

* \n:  Agrega una línea nueva
* \t:  Inserta un TAB

In [8]:
print('REPORTE DIARIO')
print('')
print('Retorno:')
print('    AMX = 1.3%')
print('    WALMEX = -0.02%')

REPORTE DIARIO

Retorno:
    AMX = 1.3%
    WALMEX = -0.02%

In [9]:
print('REPORTE DIARIO')
print('\nRetorno:')
print('\tAMX = 1.3%')
print('\tWALMEX = -0.2%')

REPORTE DIARIO

Retorno:
	AMX = 1.3%
	WALMEX = -0.2%

In [10]:
print('REPORTE DIARIO \nRetorno:\n\tAMX = 1.3%\n\tWALMEX = -0.2%')

REPORTE DIARIO
Retorno:
	AMX = 1.3%
	WALMEX = -0.2%

In [11]:
print('REPORTE DIARIO')
print('\nRetorno:')
print('\t\tAMX \t= 1.3%')
print('\t\tWALMEX \t= -0.2%')

REPORTE DIARIO

Retorno:
		AMX 	= 1.3%
		WALMEX 	= -0.2%

#  <font color='navygray'>Input( )</font>

In [12]:
input('Cual es tu nombre:')

Cual es tu nombre:Carlos

'Carlos'

#  <font color='navygray'>Variables</font>

*  Los nombres de las variables, solo pueden contener letras, números y guión bajo '_'.
*  No se puede empezar con número.
*  No se puede usar espacios.  En lugar de espacio utiliza '_'.
*  No utilizar como nombres de variables, funciones de python
*  El nombre de la variable debe de ser corto pero descriptivo

In [13]:
x = 5
y = 10
z = x + y
z1 = y**z

texto = 'Algo de texto'

print(z)
print(z1)
print(texto)

15
1000000000000000
Algo de texto

print(texto + z)

#  <font color='navygray'>Función Type( )</font>

In [14]:
type(texto)

str

In [15]:
type(z)

int

#  <font color='navygray'>Concatenar( )</font>

## <font color='gray'>+</font>

In [16]:
print(texto + str(z))

Algo de texto15

In [17]:
type(z)

int

## <font color='gray'>,</font>

In [18]:
print(texto, str(z))

Algo de texto 15

## <font color='gray'>.format( )</font>

In [19]:
jugador = 'Hank Aron'
hr = 755

In [20]:
print('El verdadero campeón de HRs en MLB es: {}, con {} homeruns.'.format(jugador, hr))

El verdadero campeón de HRs en MLB es: Hank Aron, con 755 homeruns.

## <font color='gray'>f( )</font>

In [21]:
print(f'El verdadero campeón de HRs en MLB es: {jugador}, con {hr} homeruns.')

El verdadero campeón de HRs en MLB es: Hank Aron, con 755 homeruns.

#  <font color='navygray'>Comentarios</font>

In [22]:
'''
COmentarios
lksdklsd
sdlklsdklsd
lksdkdlsk
'''
print('Hola')

Hola

#  <font color='navygray'>Números</font>

1. *Int o Integers:* Es para usar números enteros
2. *float*: Es para números con números decimales
3. *Long*: Es para números enteros de longitud infinita
4. *Complex*: Es para números complejos que incluyan $\sqrt{-1}$
5. *Booleans*: Es para expresiones binarias de 1 o 0, T o F.

## <font color='gray'>Integers</font>

In [23]:
type(8)

int

In [24]:
type(8.)

float

In [25]:
type(int(8.))

int

## <font color='gray'>Float</font>

#  <font color='navygray'>Operaciones matemáticas</font>

* Sumar (+)
* Restar (-)
* Multiplicar (\*)
* Dividir (/)
* Elevar a un exponente (\**) y por lo tanto sacar raizes<br><br>

In [26]:
x

5

In [27]:
y

10

In [28]:
x**x

3125

In [29]:
x = 25

In [30]:
x**.5

5.0

In [31]:
int(x**(1/2))

5

#  <font color='navygray'>Operaciones lógicas</font>

* Igualdad: "=="
* Desigualdad:  "!="
* Mayor que:  ">"
* Mayor igual que ">="
* Menor que: "<"
* Menor igual que: "<="

In [32]:
8 > 3

True

In [33]:
8 == 3

False

In [34]:
8 >= 3

True

# <font color='navygray'>Nuestro primer código en PYTHON:</font>
Vamos a hacer un pequeño programa donde se le pregunta al usuario los siguientes datos:
* Capital a invertir
* Tasa simple a la que se invertirá el capital<br><br>

In [35]:
inversion = float(input('Monto a invertir: '))
tasa = float(input('Tasa anual (decimal): '))

interes = inversion * tasa
saldo_final = inversion + interes

print(f'\nEl interés generado en el periodo fue de {interes}')
print(f'El saldo final del periodo es de {saldo_final}')

Monto a invertir: 100
Tasa anual (decimal): .1

El interés generado en el periodo fue de 10.0
El saldo final del periodo es de 110.0

# <font color='navygray'>Guardar más información en una variable</font>

* Listas
* Tuplas
* Diccionario

## <font color='gray'>Ejemplos</font>

### Lista:

In [36]:
lista = ['a', 3, 'c']

In [37]:
lista

['a', 3, 'c']

### Tupla:

In [38]:
tupla = ('a', 3, 'c')

In [39]:
tupla

('a', 3, 'c')

In [40]:
tupla = (2, 5, 3)

In [41]:
tupla

(2, 5, 3)

### Diccionario:

In [42]:
equipos = ['Cubs', 'Expos', 'Dodgers']
ciudad = ['Chicago', 'Montreal', 'LA']

In [43]:
diccionarios = {'Cubs':'Chicago', 'Expos':'Montreal'}

# <font color='navygray'>Listas</font>

## <font color='gray'>Crear una lista</font>

In [44]:
lista_dias = ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo']

In [45]:
lista_dias

['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo']

In [46]:
print(lista_dias)

['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo']

## <font color='gray'>Accesar al valor de un elemento de la lista</font>

In [47]:
lista_dias[1]

'martes'

In [48]:
lista_dias[5]

'sábado'

In [49]:
lista_dias[-2]

'sábado'

In [50]:
lista_dias[-1]

'domingo'

## <font color='gray'>Modificar un elemento de la lista</font>

In [51]:
lista_carros_electricos = ['Jetta', 'Volt', 'Leaf']

In [52]:
lista_carros_electricos[0] = 'Tesla'

In [53]:
lista_carros_electricos

['Tesla', 'Volt', 'Leaf']

## <font color='gray'>Agregar un elemento en la lista:</font>

### .append( )

In [54]:
lista_carros_electricos.append('i8')

In [55]:
lista_carros_electricos

['Tesla', 'Volt', 'Leaf', 'i8']

### .insert( )

In [56]:
lista_carros_electricos.insert(1, 'i3')

In [57]:
lista_carros_electricos

['Tesla', 'i3', 'Volt', 'Leaf', 'i8']

## <font color='gray'>Eliminar elementos de la lista:</font>

### remove( )

In [58]:
lista_carros_electricos.remove('i3')

In [59]:
lista_carros_electricos

['Tesla', 'Volt', 'Leaf', 'i8']

### .pop( )

In [60]:
carro_comprar = lista_carros_electricos.pop(0)

In [61]:
carro_comprar

'Tesla'

In [62]:
lista_carros_electricos

['Volt', 'Leaf', 'i8']

### del( )

In [63]:
del x

In [64]:
del lista_carros_electricos[-1]

In [65]:
lista_carros_electricos

['Volt', 'Leaf']

## <font color='gray'>Arreglar la lista de manera asendente:</font>

In [66]:
lista_carros_electricos = ['Tesla', 'i3', 'Volt', 'Leaf', 'i8']

In [67]:
lista_carros_electricos.sort()

In [68]:
lista_carros_electricos

['Leaf', 'Tesla', 'Volt', 'i3', 'i8']

## <font color='gray'>Arreglar la lista de manera desendiente:</font>

In [69]:
lista_carros_electricos.sort(reverse=True)

In [70]:
lista_carros_electricos

['i8', 'i3', 'Volt', 'Tesla', 'Leaf']

## <font color='gray'>Longitud de una lista:</font>

In [71]:
len(lista_carros_electricos)

5

In [72]:
numero_elementos = len(lista_carros_electricos)

In [73]:
numero_elementos

5

In [74]:
print(f'La lista contiene {len(lista_carros_electricos)} carros')

La lista contiene 5 carros

## <font color='gray'>Rebanar ("slicing") una lista:</font>

In [75]:
lista_carros_electricos

['i8', 'i3', 'Volt', 'Tesla', 'Leaf']

In [76]:
lista_carros_electricos[0:2]

['i8', 'i3']

In [77]:
lista_carros_electricos[0:3]

['i8', 'i3', 'Volt']

In [78]:
lista_carros_electricos[:3]

['i8', 'i3', 'Volt']

In [79]:
lista_carros_electricos[2:5]

['Volt', 'Tesla', 'Leaf']

In [80]:
lista_carros_electricos[2:]

['Volt', 'Tesla', 'Leaf']

In [81]:
lista_carros_electricos[:]

['i8', 'i3', 'Volt', 'Tesla', 'Leaf']

# <font color='navygray'>Range</font>

_range(empeiza, terminas, pasos intermedios)_

In [82]:
range(0, 11)

range(0, 11)

## <font color='gray'>Construir una lista utilizando Range:</font>

In [83]:
list(range(0, 11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
list(range(0, 101, 10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# <font color='navygray'>For loop</font>

In [85]:
lista_carros_electricos = ['i8', 'i3', 'Volt', 'Tesla', 'Leaf']

In [86]:
print(lista_carros_electricos[0])
print(lista_carros_electricos[1])
print(lista_carros_electricos[2])
print(lista_carros_electricos[3])
print(lista_carros_electricos[4])

i8
i3
Volt
Tesla
Leaf

In [87]:
for carro in lista_carros_electricos:
    print(carro)

i8
i3
Volt
Tesla
Leaf

In [88]:
for carro in lista_carros_electricos:
    print(f'El {carro}, es un carro eléctrico')

El i8, es un carro eléctrico
El i3, es un carro eléctrico
El Volt, es un carro eléctrico
El Tesla, es un carro eléctrico
El Leaf, es un carro eléctrico

In [89]:
for carro in lista_carros_electricos:
    print(f'El {carro}, es un carro eléctrico')
    
print('\nPor lo tanto estos carros son ecológicos')

El i8, es un carro eléctrico
El i3, es un carro eléctrico
El Volt, es un carro eléctrico
El Tesla, es un carro eléctrico
El Leaf, es un carro eléctrico

Por lo tanto estos carros son ecológicos

In [90]:
for numero in [1,2,3,4,5,6,7,8,9,10]:
    print(numero)

1
2
3
4
5
6
7
8
9
10

In [91]:
for numero in range(10, 101,10):
    print(numero*2)

20
40
60
80
100
120
140
160
180
200

In [92]:
for numero in range(10, 101,10):
    mult = numero * 2
    print(f'{numero} multiplicado por 2 es igual a {mult}')

10 multiplicado por 2 es igual a 20
20 multiplicado por 2 es igual a 40
30 multiplicado por 2 es igual a 60
40 multiplicado por 2 es igual a 80
50 multiplicado por 2 es igual a 100
60 multiplicado por 2 es igual a 120
70 multiplicado por 2 es igual a 140
80 multiplicado por 2 es igual a 160
90 multiplicado por 2 es igual a 180
100 multiplicado por 2 es igual a 200

# <font color='navygray'>If</font>

In [93]:
x = 12

if x > 10:
    print(f'{x} efectivamente es mayor a 10')
elif x == 10:
    print(f'{x} es igual a 10')
else:
    print(f'{x} es menor a 10')

12 efectivamente es mayor a 10

In [94]:
lista_marca_carros = ['Tesla', 'VW', 'BMW', 'Audi', 'Ford', 'Nissan']

for marca in lista_marca_carros:
    if marca == 'Tesla':
        print(f'{marca.upper()} produce unicamente carros eléctricos')
    elif marca == 'BMW':
        print(f'{marca.upper()} produce carros eléctricos y de gasolina')
    else:
        print(f'{marca.upper()} produce unicamente carros de gasolina')

TESLA produce unicamente carros eléctricos
VW produce unicamente carros de gasolina
BMW produce carros eléctricos y de gasolina
AUDI produce unicamente carros de gasolina
FORD produce unicamente carros de gasolina
NISSAN produce unicamente carros de gasolina

## <font color='gray'>Condiciones múltiples "and" y "or"</font>

In [95]:
sexo = 'Mujer'
edad = 18

if sexo == 'Hombre' and edad == 18:
    print('Presentarse en el cuartel militar')

In [96]:
edad = 65

if edad <= 5 or edad >= 60:
    print('Su boleto es GRATIS')
else:
    print('El costo de su boleto es de $100')

Su boleto es GRATIS

## <font color='gray'>Verificar si un valor se encuentra en la lista</font>

In [97]:
lista_carros_electricos

['i8', 'i3', 'Volt', 'Tesla', 'Leaf']

In [98]:
carro_nuevo = 'i3'

if carro_nuevo in lista_carros_electricos:
    print('Compraste un carro que se preocupa por cuidar el medio ambiente')
else:
    print('Compraste un carro medio ecoloco')

Compraste un carro que se preocupa por cuidar el medio ambiente

## <font color='gray'>Verificar si un valor NO se encuentra en la lista</font>

In [99]:
carro_nuevo = 'Jetta'

if carro_nuevo not in lista_carros_electricos:
    print('Compraste un carro medio ecoloco')
else: 
    print('Compraste un carro que se preocupa por cuidar el medio ambiente')

Compraste un carro medio ecoloco

# <font color='navygray'>Diccionarios</font>

# <font color='navygray'>Input</font>

# <font color='navygray'>While Loop</font>